<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Edit User</title>
	<div th:replace="Components :: links"></div>
	<div th:replace="components :: nav"></div>
	<style>
			th,
			td {
				text-align: center;
			}
		
			.center {
				width: 45%;
				margin: auto;
			}
	</style>
	
</head>
<body>
	
	<div class="center">
		<h2 class="center"> Update User Profile </h2>
	
			
	<form th:action=@{/save/user/} th:object="${user}" th:method=put>

		<div class="form-group">
			<input type="hidden" name="id" th:field="*{userid}" />
			<input type="hidden" name="userroles" th:field="*{userRoles}" />
			<label for="username"> Username: </label>
			<input type="text" th:field="*{username}" id="username" name="username" class="form-control" readonly>
			<br>
				
	  		<label for="password"> Password: </label>
			<input type="password" th:field="*{password}" id="password" name="password" class="form-control">
		</div>
			
		<div class="form-group">

			<label for="name"> Name: </label>
			<br>
			<input type="text" th:field="*{name}" id="name" name="name" class="form-control" readonly>
			<br>
			
			<label for="identityCardNum"> NRIC: </label>
			<br>
			<input type="text" th:field="*{identityCardNum}" id="identityCardNum" name="identityCardNum" class="form-control" readonly>
			<br>
				
			<label for="contactNo"> Contact Number: </label>
			<br>
			<input type="number" th:field="*{contactNo}" id="contactNo" name="contactNo" class="form-control">
			<br>
				
			<label for="address"> Home Address: </label>
			<br>
			<input type="text" th:field="*{address}" id="address" name="address" class="form-control">
			<br>
				
			<label for="email"> Email: </label>
			<br>
			<input type="email" th:field="*{email}" id="email" name="email" class="form-control">
			<br>
			
		</div>
			
			
		<div class="form-group">
				
			<label for="nomineeName"> Nominee Name: </label>
			<br>
			<input type="text" th:field="*{nomineeName}" id="nomineeName" name="nomineeName" class="form-control">
			<br>
				
			<label for="nomineeidentityCardNum"> Nominee NRIC: </label>
			<br>
			<input type="text" th:field="*{nomineeidentityCardNum}" id="nomineeidentityCardNum" name="nomineeidentityCardNum" class="form-control">
			<br>
			<input align="right" type="submit" value="Update" class="btn btn-outline-dark">	
			
			<a th:href="@{/view/account/{id} (id = ${id})}">
			<button type="button" class="btn btn-outline-dark" role="button">Cancel</button>
			</a>
			
		</div>	
			<br>
			<br> 
		</form>
		
	</div>
	
	<div th:replace="components :: footer"></div>
</body>
</html>