<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add New User</title>
<div th:replace="Components :: links"></div>
<div th:replace="components :: nav"></div>
<style>
th, td {
	text-align: center;
}

.center {
	width: 45%;
	margin: auto;
}
</style>
</head>
<body>

	<div class="center">
		<h2 class="center">Add New User</h2>

		<form th:action="@{/add/users}" th:method="get" th:object="${user}">

			<div class="form-group">
				<!--  <h2 class="signup-header"> Login Details </h2> -->
				<label for="username"> Username:</label> <input type="text"
					id="username" name="username" th:field="*{username}"
					pattern=".{3,}" class="form-control"
					title="Username must be at least 3 characters" required /> <br>
				<label for="password">Password:</label> <input type="password"
					id="password" name="password" th:field="*{password}"
					class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
					title="Password must be at least 8 characters and include one number, and one uppercase and lowercase letter"
					required /> <i class="bi bi-eye-slash" id="togglePassword"></i>
					<br>
				<label>Roles: </label>
				<th:block th:each="role: ${listRoles}">
					<input type="radio" th:field="*{userRoles}" th:text="${role.name}"
						th:value="${role.id}" class="m-2" />
				</th:block>
			</div>
			<script>
				const togglePassword = document
						.querySelector("#togglePassword");
				const password = document.querySelector("#password");

				togglePassword
						.addEventListener(
								"click",
								function(e) {
									// toggle the type attribute
									const type = password.getAttribute("type") === "password" ? "text"
											: "password";
									password.setAttribute("type", type);

									// toggle the icon
									this.classList.toggle("bi-eye");
								});
			</script>
			<div class="form-group">
				<!--  <h2 class="signup-header"> Personal Information </h2> -->
				<label for="name">Name:</label> <br> <input type="text"
					id="name" name="name" th:field="*{name}" class="form-control"
					required /> <br> <label for="identityCardNum">NRIC
					Number:</label> <br> <input type="text" id="identityCardNum"
					name="identityCardNum" th:field="*{identityCardNum}"
					pattern="^[STFGMstfgm]\d{7}[a-zA-Z]{1}$" placeholder="S8888888A"
					class="form-control" title="Please enter a valid NRIC number"
					required /> <br> <label for="contactNo">Contact
					Number:</label> <br> <input type="tel" id="contactNo" name="contactNo"
					th:field="*{contactNo}" class="form-control" required
					pattern="[0-9]{8}" title="Please enter a valid contact number" /> <br>
				<label for="address">Address:</label> <input type="text"
					id="address" name="address" th:field="*{address}"
					class="form-control" required /> <br> <label for="email">Email:</label>
				<input type="email" id="email" name="email" th:field="*{email}"
					class="form-control" required /> <br>
			</div>

			<div class="form-group">
				<!--  <h2 class="signup-header"> Nominee Details </h2> -->
				<label for="nomineeName">Nominee Name:</label> <br> <input
					type="text" id="nomineeName" name="nomineeName"
					th:field="*{nomineeName}" class="form-control" required /> <br>
				<label for="nomineeidentityCardNum">Nominee NRIC Number:</label> <br>
				<input type="text" id="nomineeidentityCardNum"
					name="nomineeidentityCardNum" th:field="*{nomineeidentityCardNum}"
					placeholder="S8888888A" pattern="^[STFGMstfgm]\d{7}[a-zA-Z]{1}$"
					title="Please enter a valid NRIC number" class="form-control"
					required /> <input type="submit" value="Register"
					class="btn btn-outline-dark" /> <a th:href="@{/view/users}">
					<button type="button" class="btn btn-outline-dark" role="button">Cancel</button>
				</a>
			</div>
			<br> <br>


		</form>
	</div>

	<div th:replace="components :: footer"></div>
</body>
</html>