<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>View Account Page</title>
<div th:replace="Components :: links"></div>
<div th:replace="components :: nav"></div>
<div th:replace="components :: styleView"></div>
</head>
<body>
	<br>
	<h2>User Details</h2>

	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Customer's Name</th>
				<th>Customer's NRIC</th>
				<th>Contact Number</th>
				<th>Customer's Address</th>
				<th>Email Address</th>
				<th>Nominee's Name</th>
				<th>Nominee's NRIC</th>
				<th>Username</th>

<!-- 				<th>Password</th> -->


				<th>Edit Details</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${user.name}"></td>
				<td th:text="${user.identityCardNum}"></td>
				<td th:text="${user.contactNo}"></td>
				<td th:text="${user.address}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.nomineeName}"></td>
				<td th:text="${user.nomineeidentityCardNum}"></td>
				<td th:text="${user.username}"></td>
				<!-- 	<td th:text="${user.password}"></td> -->
				<td><a th:href="@{/edit/user/{id} (id = ${user.userid})}"><i
						class="fa-solid fa-pen-to-square"></i></a></td>
			</tr>
		</tbody>
	</table>
	<br>
	<div>
		<!-- href="@{/add/account/{id} (id = ${user.userid})}" -->
		<h2 id="acc-table">Account Details</h2>
		<a th:href="@{/add/account/{id} (id = ${user.userid})}" id="acc-btn"
			class="btn btn-primary btn-lg active" role="button"
			aria-pressed="true">Add Account</a>
		<a sec:authorize="hasAuthority('ADMIN')"
			th:href="@{/view/users}" id="acc-btn"
			class="btn btn-primary btn-lg active" role="button"
			aria-pressed="true">Back to Users</a>
	</div>

	<div th:switch="${count}">
		<h4 th:case="0" style="margin-left: 10px">No records</h4>
		<div th:case="*">
		
		<div class="container">
		<div class="row">
			<div class="col d-flex justify-content-center">
				<div class="card border-dark">
					<img class="card-img-top">

					<div class="card-body">
						<h6 class="card-title">Total Balance</h6>
						<p class="card-text">You can view the total balance of the
							accounts under your signed up name here.</p>
						<div th:switch="${count}">
							<h2 th:case="0">No records</h2>
							<div th:case="*">
								<h4 style="text-align: center"
									th:text="|$ ${#numbers.formatDecimal(totBal, 1, 'COMMA', 2, 'POINT')}|"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>
			<div class="table-wrapper table-responsive" style="height: 300px">
				

				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th class="sticky-top">Account Number</th>
							<th class="sticky-top">Account Type</th>
							<th class="sticky-top">Account Balance</th>
							<th class="sticky-top" style="width: 15%">View Transactions</th>
							<!-- 	<th style="width: 15px">Edit Account Details</th> -->
							<th sec:authorize="hasAuthority('ADMIN')" class="sticky-top" style="width: 15%">
							Delete Account</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="a:${accList}">
							<td th:text="${a.accNumber}"></td>
							<td th:text="${a.accType}"></td>
							<td
								th:text="|$ ${#numbers.formatDecimal(a.balance, 1, 'COMMA', 2, 'POINT')}|"></td>
							<td><a
								th:href="@{/view/transaction/{id}/{aid} (id=${user.userid},aid = ${a.id})}"><i
									class="fa-solid fa-money-bill"></i></a></td>
							<!-- <td> <a th:href="@{/edit/account/{id}/{accno} (id = ${a.id}, accno = ${a.accNumber})}"><i class="fa-solid fa-pen-to-square"></i></a></td> -->
							<td sec:authorize="hasAuthority('ADMIN')">
							<a th:href="@{/delete/account/{id} (id = ${a.id})}"><i
									class="fa-solid fa-trash"></i></a></td>
						</tr>
					</tbody>
				</table>

			</div>
<!-- 			<form th:action="@{/view/users}"> -->
<!-- 				<button type="submit" class="btn btn-primary btn-lg active" -->
<!-- 					role="button" aria-pressed="true"> -->
<!-- 					Back to Users <i class="fa-solid fa-money-bill-transfer"></i> -->
<!-- 				</button> -->
<!-- 			</form> -->
		</div>
	</div>
	<br>
	<div th:replace="components :: footer"></div>
</body>

</html>